@import "tailwindcss";

:root {
  color-scheme: light;
  font-family: var(--font-main);
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

@theme inline {
  --font-main: 'Rubik', sans-serif;
  --font-kalam: 'Kalam', cursive;
  --font-qwitcher: 'Qwitcher Grypen', cursive;

  --color-primary-light: #60CAD9;
  --color-accent-light: #FF7999;
  --color-bg-light: #FFFFFF;
  --color-text-light: #143659;
  --color-lessimp-light: #CCD6F6;


  --color-bg-dark: #251C31;
  --color-primary-dark: #693B93;
  --color-accent-dark: #4F228D;
  --color-text-dark: #FFFFFF;
  --color-lessimp-dark: #8b8b8b;

}
.dark {
  color-scheme: dark;
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}
/* font usages */
.font-main {
  font-family: var(--font-main);
}

.font-kalam {
  font-family: var(--font-kalam);
}

.font-qwitcher {
  font-family: var(--font-qwitcher);
}
/* Create utility classes as needed, e.g.: */

.text-primary-light {
  color: var(--color-primary-light);
}

.text-primary-dark {
  color: var(--color-primary-dark);
}

